/* ItemListContainer.css */
.item-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.item {
  background-color: #deefef;
  padding: 20px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  text-align: center;
  width: calc(33.333% - 40px); /* Tres elementos por fila */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.item h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.item p {
  font-size: 0.9em;
  color: #555;
}
